<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="col-md-6 col-md-offset-3">
			<h1>Help Section</h1>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Create Events
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        	<p>
			<span style="font-size: 12px;">On the &quot;My Calendar &quot;page , t</span><span style="font-size: 12px;">o create an event a user is required to provide the following details:</span></p>
		<ul>
			<li>
				<span style="font-size: 12px;">Name of event.</span></li>
			<li>
				<span style="font-size: 12px;">Decription of the event.</span></li>
			<li>
				<span style="font-size: 12px;">Select start date and time of event.</span></li>
			<li>
				<span style="font-size: 12px;">​Select end date and time of event.</span></li>
		</ul>
		<p>
			<span style="font-size: 12px;">When all required fields have been filled , the user must click the submit button.</span></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Creating Meetings
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       	<span style="font-size: 12px;">On the Meetings page, user is required to click on &quot;Oragnise New Meeting&quot; </span>
		
			<span style="font-size: 12px;">The following details are then required :</span>
		<ul>
			<li>
				<span style="font-size: 12px;">Decription of the meeting being created.</span></li>
			<li>
				<span style="font-size: 12px;">Location of the meeting.</span></li>
			<li>
				<span style="font-size: 12px;">Student/Staff ID number of the users you would like to invite to the meeting.</span></li>
			<li>
				<span style="font-size: 12px;">If ID number is unknown, user must click on 'Directory'.</span></li>
			<li>
				<span style="font-size: 12px;">This will direct the user to the Directory page which contains details such as ID, First name, Last name and email of both Students and Lecturers.</span></li>
			<li>
				<span style="font-size: 12px;">Select date of meeting.</span></li>
			<li>
				<span style="font-size: 12px;">Click find suitable times.</span></li>
		</ul>
		<p>
			<span style="font-size: 12px;">​The user will then be re-directed to a list of available times for the date entered.&nbsp;</span></p>
		
			<span style="font-size: 12px;">The user must then select their preferred time by clicking on the appropriate &#39;Organise Meeting&#39; button.</span>
		
			<span style="font-size: 12px;">Details of this meeting will then appear on the users Meeting page.&nbsp;</span>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Create Modules
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>
			<span style="font-size: 12px;">On the Modules page , user is required to click the &#39;Add New Module&#39; button.</span></p>
		
			<span style="font-size: 12px;">The user will then see a list of Computer Science modules.</span>
		
			<span style="font-size: 12px;">They can select the modules they are registered for by &nbsp;clicking the module codes on the right side of the screen.</span>
		
			<span style="font-size: 12px;">The user is then re-directed back to the &#39;Modules&#39; page , where a list of the users selected modules are displayed.</span>
      </div>
    </div>
  </div>
</div>
</div>		
	</body>
</html>
