<%= form_for(@registered_fors) do |f| %>
<div class="field">
    <%= f.label :module_code %><br>
    <%= f.text_field :module_code %>
  </div>
<% end %>

<!-- = simple_form_for(@registered_for) do |f|
 = f.error_notification

  .form-inputs
    = f.input :module_code

  .form-actions
    = f.button :submit -->
