.col-md-5.col-md-offset-1
  %h1 #{@current_user.first_name}'s Calendar 
  
.col-md-1.col-md-offset-4#create-event
  = link_to new_event_path, remote: true do
    %button.btn.btn-default
      Create Event   
      
.row#event-calendar
  .col-md-10.col-md-offset-1#calendar

.row
  .modal.fade#event-modal(tabindex="-1" aria-labelledby="myModalLabel"
    aria-hidden="true")

