.col-md-5.col-md-offset-1#calendarname
  %h1 #{@current_user.first_name} #{@current_user.last_name}'s Calendar 
  
.col-md-2.col-md-offset-3#create-event
  = link_to new_event_path, remote: true do
    %button.btn.btn-success.btn-block
      Create Event
      
      
.col-md-2.col-md-offset-3#create-meeting
  = link_to addmeeting_path do
    %button.btn.btn-primary.btn-block
      Create Meeting 
  
    
.row#event-calendar
  .col-md-10.col-md-offset-1#calendar

.row
  .modal.fade#event-modal(tabindex="-1" aria-labelledby="myModalLabel"
    aria-hidden="true")

