@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    
    color: white;
}

body { 
  background: url("http://www.ucc.ie/en/build/news/archive/_00T7498.jpg") no-repeat center center fixed; 
  background-size: cover;
}



.fc-content{
    
    background-color: white;
}

.col-md-offset-5,.col-md-offset-1,.col-md-offset-2, .col-md-offset-4,.col-md-offset-3{
    
    background-color:white;
}

.yourmodules{
    
    background-color:white;
    padding-top:10px;
}

.dialog{
text-align: center;
background-color:white;

}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
{
    
    
    border: 1px solid;
    border-radius: 15px;
}

.row{
    
    padding-top: 25px;
    
}

.teamfooter{
    
    color:white;
    padding-left:20px;
}
#footer{
    
    border-top:white 0px solid;
}
#create-meeting,#create-event:not(.nostyle) {
background: none;
border:0px;
}

#calendarname{
    
    padding-bottom:10px;
}