<script src="/workspace/app/assets/javascripts/modernizr.custom.js"></script>


<link rel="shortcut icon" href="/workspace/public/favicon.ico"/>

   
 
    <nav class="navbar navbar-inverse navbar-fixed-top">
     
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >UCC Timetable</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
        <% if(logged_in?) %>
         <li><a><%= link_to events_path do  %> My Calender </a>  <% end %></li>
        
            <li><a><%= link_to new_meeting_path do  %> New Meeting  </a>  <% end %></li>
            <li><a><%= link_to modules_path do  %> Modules</a> <% end %> </li>
            <li><a> <%= link_to logout_path do %> Log Out</a>  <% end %></li>
           <% end %>
          
          </ul>
      
        </div>
      </div>
     
    </nav>  
