.col-md-5.col-md-offset-1
  %h1 UCC Timetable 
  
.col-md-1.col-md-offset-4#create-event
  = link_to new_event_path, remote: true do
    %button.btn.btn-default
      Create Meeting
      
.col-md-2.col-md-offset-4#create-event
  = link_to new_event_path, remote: true do
    %button.btn.btn-default
      Create Event
